* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

.app {
  padding: 100px 20px;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 20px;
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.half-width {
  width: 50%;
}

.half-height {
  height: 50%;
}

.bold {
  font-weight: bold;
}

.sm {
  font-size: 18px;
}

.extra-sm {
  font-size: 14px;
}

.lg {
  font-size: 36px;
}

.rounded {
  border-radius: 5px;
}

.more-rounded {
  border-radius: 10px;
}

.extra-rounded {
  border-radius: 40px;
}

.title {
  font-size: 40px;
  font-weight: 600;
}

.mr-10 {
  margin-right: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.pointer {
  cursor: pointer;
}
