.user-profile-page {
  min-height: 100vh;
}

.info-container {
  width: 80%;
  margin-left: 10%;
}

.cover-image {
  height: 180px;
  background-color: #898989;
  border-radius: 10px 10px 0 0;
}

.result-profile-img {
  width: 130px;
  height: 130px;
  border: 4px solid #fff;
  border-radius: 70px;
  margin-top: -70px;
  margin-left: 20px;
}

.info-container > h2,
.info-container > p {
  margin: 5px 10px 10px 20px;
}

.info-container > button {
  border: 1px solid #0a66c2;
  width: 80px;
  padding: 10px 20px;
  margin-left: 20px;
}
