.auth-page {
  min-height: 100vh;
}

.logo {
  position: absolute;
  top: 40px;
  left: 60px;
  width: 140px;
}

.login-box {
  padding: 30px 25px;
}

.login-box input {
  padding: 20px;
  width: 350px;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.9);
}

.login-box input:focus {
  outline: 2px solid #0a66c2;
}

.login-box button,
.signup-box button {
  padding: 20px;
  font-size: 20px;
}

.signup-box {
  padding: 30px 25px;
  width: 500px;
}

label {
  color: rgba(0, 0, 0, 0.75);
  font-size: 18px;
}

.signup-box input {
  border: 1px solid rgba(0, 0, 0, 0.9);
  padding: 12px;
  font-size: 18px;
}
